<!--
1. get request of '/recipes/new' to:
    - show form to create new recipes
2. Form should include:
    - recipe name
    - ingredients checkbox
    - ability to add ingredients to options
    - cooktime
    - cooking instructions
3. submit via post '/recipes/:id' -->
  <form action="/recipes" method="post">
    <label>Recipe Name:</label>
  <input type="text" name="name"><br>
  <label>Cook Time:</label>
  <input type="text" name="cook_time" placeholder="time in minutes"><br>
  <input type="submit" value="Create">
  </form>
