<!-- form to login to take you to create a recipe page -->
<br>
<br>
<br>
<br>
<br>
<h1>Login to gain full access.</h1>
<form action="/login" method="post">
<input type="text" name="username" placeholder="Username:">
<input type="password" name="password" placeholder="Password:">
<input type="submit" value="submit">
</form>
