<!-- get '/ingredients/new' request sends to page
show form to Add a new ingredient
send via post request to '/recipe/:id' -->
<form name="content" action="/ingredients" method="post">
  <label>Recipe Name:</label>
  <input type="text" id="recipe_name" name="" value="">
</form>
